<h1><%= @event.name %></h1>

<h2>Details</h2>
<ul>
    <li>Creator: <%= @event.creator.name %></li>
    <li>Location: <%= @event.location %></li>
    <li>Date: <%= @event.date %></li>
    <li>Time: <%= @event.time %></li>
</ul>